/* --- Quantum Dark Theme --- */

$background-color: #121212;
$text-color: #e0e0e0;
$primary-color: #1a73e8;
$link-color: #1a73e8;
$link-color-hover: #4a8df1;
$border-color: #444;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
$warning-color: #ffc107;
$masthead-height: 3.5rem;

body {
  background-color: $background-color;
  color: $text-color;
}

a {
  color: $link-color;
  &:hover {
    color: $link-color-hover;
  }
}

.masthead {
  background-color: $primary-color;
  .masthead__inner-wrap {
    .masthead__menu-button {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
    }
  }
}

.greedy-nav {
  .nav-label {
    color: #fff;
  }
  a {
    color: #fff;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.page {
  background-color: #212121;
  .page__inner-wrap {
    box-shadow: $box-shadow;
  }
}

.page__footer {
  background-color: $primary-color;
  color: #fff;
}
